@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{
    font-family: 'Titillium Web', sans-serif;
}

:root{
    --mainColor: #fdd2f7;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #0f0f0f;
}

.navegacion{
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 55px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}



nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-family: 1.5px;
}

.profile{
    width: 30px;
    height: 30px;
    margin-left: 100px;
}

.logo{
    width: 60px;
    height: 60px;
}